{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="login-container" style="background-color: #fff; padding: 40px; border-radius: 10px; box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); max-width: 400px; margin: auto;">
    <div class="app-title" style="font-size: 2rem; font-weight: bold; color: #212529; text-align: center; margin-bottom: 20px;">Blogging App</div>
    <form method="POST">
        <h3 class="text-center" style="color: #212529; margin-bottom: 20px;">Login</h3>
        <div class="form-group" style="margin-bottom: 15px;">
            <label for="email" style="color: #212529; font-weight: bold;">Email Address</label>
            <input type="text" id="email" name="email" class="form-control" placeholder="Enter Email" required style="border: 1px solid #212529; border-radius: 5px;" />
        </div>
        <div class="form-group" style="margin-bottom: 20px;">
            <label for="password" style="color: #212529; font-weight: bold;">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password" required style="border: 1px solid #212529; border-radius: 5px;" />
        </div>
        <div class="form-group" style="text-align: center;">
            <button class="btn" type="submit" style=" width: 100%;background-color: #212529; color: #fff; border: none; padding: 10px 20px; border-radius: 5px; font-size: 1rem; cursor: pointer;">Login</button>
        </div>
        <!--
        <div class="forgot-password" style="text-align: center; margin-top: 15px;">
            <a href="#" style="color: #1500ff; text-decoration: none;">Forgot Password?</a>
        </div>
        -->
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
